<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.atv684.positivityreminders">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".BaseActivity">
        </activity>

        <receiver android:name=".NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".schedules.AddScheduleActivity"
                  android:label="@string/label_add_a_reminder"/>

        <activity android:name=".AddQuoteActivity"
                  android:label="@string/cd_add_quote"/>

        <activity android:name=".detail.QuoteDetailActivity"/>

        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".schedules.ViewScheduleActivity"
                  android:label="@string/label_view_schedules"/>

        <provider android:authorities="positivereminders.provider.quotes" android:name=".provider.QuoteProvider"/>

        <receiver android:name=".widget.QuoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_xml"/>
        </receiver>

    </application>

</manifest>